<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
       <key>ProductBuildVersion</key>
       <string>rolling</string>
       <key>ProductName</key>
       <string>Arch Linux</string>
       <key>ProductUserVisibleVersion</key>
       <string></string>
       <key>ProductVersion</key>
       <string></string>
</dict>
</plist>
